# ch2_note3_list.ipynb by PB02

## 튜플: tuple 이란?

### 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
### 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [1]:
even = (2, 4, 6, 8)

#### 여러 가지 튜플

In [3]:
t1 = ()  # 튜플 초기화
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))

## t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
## 콤마(,)를 반드시 붙여야 한다는 것과
## t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.
#####################################################
#
## 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?
#
## 1. 튜플 요솟값을 삭제하려 할 때

In [4]:
t1 = (1, 2, "a", "b")
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [5]:
t1[0]

1

## 튜플: 사용방법

In [6]:
t1 = (1, 2, "a", "b")
t1[0]

1

In [7]:
t1[3]

'b'

In [8]:
t1 = (1, 2, "a", "b")
t1[1:]

(2, 'a', 'b')

In [9]:
t1[2:-1]

('a',)

In [10]:
t1[2:]

('a', 'b')

In [11]:
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [12]:
t2 = (3, 4)
id(t2)

2206342947456

In [13]:
t2 * 3
id(t2)

2206342947456

In [14]:
t2 = t2 * 3
id(t2)

2206343770560

In [15]:
t1 = (1, 2, "a", "b")
len(t1)

4