# ch2 note3_list,ipynb by PB02

## 문자열: 포매팅이란?

In [1]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [2]:
"I eat %s apples." % "five"

'I eat five apples.'

In [4]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

# 문자열: 포맷 코드

In [9]:
"I have %s apples" % 3
"rate is %s" % 3.234

'rate is 3.234'

# 문자열: 포맷 코드와 숫자 함께 사용하기

In [11]:
"%10s" % "hi"
"%-10sjane." % "hi"

'hi        jane.'

In [12]:
"%0.4f" % 3.42134234
"%10.4f" % 3.42134234

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

In [13]:
"I eat {0} apples".format(3)
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

In [14]:
"I eat {0} apples".format("five")
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

In [15]:
number = 3
"I eat {0} apples".format(number)
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

In [16]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [17]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [18]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [19]:
"{0:<10}".format("hi")
"{0:>10}".format("hi")

'        hi'

In [20]:
"{0:^10}".format("hi")

'    hi    '

In [21]:
"{0:=^10}".format("hi")
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [22]:
y = 3.42134234
"{0:0.4f}".format(y)
"{0:10.4f}".format(y)

'    3.4213'

In [23]:
"{{ and }}".format()

'{ and }'

## 문자열: f 문자열 포매팅

In [25]:
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [26]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [27]:
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [28]:
f'{"hi":<10}'  # 왼쪽 정렬
f'{"hi":>10}'  # 오른쪽 정렬
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

In [29]:
y = 3.42134234
f"{y:0.4f}"  # 소수점 4자리까지만 표현
f"{y:10.4f}"  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
# { } 문자를 표시
f"{{ and }}"

'{ and }'

# 문자열: 관련 내장 함수들

In [30]:
a = "hobby"
a.count("b")

2

In [31]:
a = "Python is the best choice"
a.find("b")
a.find("k")  # what value?

-1

In [33]:
",".join("abcd")
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [34]:
a = "hi"
a.upper()

'HI'

In [35]:
a = "IoT"
a.lower()

'iot'

In [36]:
a = " hi "
a.lstrip()

'hi '

In [37]:
a.rstrip()

' hi'

In [38]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [39]:
a = "Life is too short"
a.split()
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

In [40]:
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'