<a href="https://colab.research.google.com/github/alsrn36533/PB02/blob/main/ch8/ch8_exercises_PB02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [1]:
# [Q1] Code-1 
a= "a:b:c:d"
b=a.split(":")
c="#".join(b)   
c

'a#b#c#d'

In [4]:
# [Q1] Code-2
a = "a:b:c:d"  
b = a.replace(":", "#")
b

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [5]:
# [Q2] Code-1
a = {'A':90, 'B':80}
a.get('C', 70)

70

In [6]:
# [Q2] Code-2
a = {'A':90, 'B':80}
a['C'] = 70        
a['C']

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [8]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1, 2, 3]
print(id(a))   

a = [1, 2, 3] 
a = a + [4,5]
print(id(a))       
## 위에서 리스트a의 주소는140444977756352 이것이되는데 +기호를 사용해서 더한뒤 결과를 내면 주소가 140444977754752 이주소로 바뀌어서 출력이 된다

140444977756352
140444977754752

In [9]:
a = [1, 2, 3]
print(id(a)) 

a.extend([4, 5])
print(id(a))
## 여기서는 위 주소는140444977891440 이것으로 나온다. 그리고 extend를 사용해서 [4,5]를 더한뒤 주소를 보면140444977891440이렇게 나와서 주소가 같다.

140444977891440
140444977891440

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [11]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
for a in A:
    if a >= 50:
        result =result + a

print(result)

481

In [12]:
# [Q4] Code-2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
while A:              
    num = A.pop()     
    if num >= 50:      
        result += num

print(result)

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [13]:
# [Q5] Code-1
def fib(n):
    if n == 0 : return 0     
    if n == 1 : return 1          
    return fib(n-2) + fib(n-1)    

for i in range(10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [15]:
# [Q5] Code-2
num = int(input("피보나치수열의 최댓값:"))
result = 0   
two = 1      

if num > 0: 
 while result <= num:                
    print(result ,end = " ")         
    one = result                     
    result = two                 
    two = one + two

피보나치수열의 최댓값:30
0 1 1 2 3 5 8 13 21

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [16]:
# [Q6] Code-1
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",")
total = 0
for n in numbers:
    total += int(n)    
print(total)

숫자를 입력하세요: 65,45,2,3,45,8
168

In [17]:
# [Q6] Code-2
numbers = map(int, input("숫자를 입력하세요: ").split(",")) 
total = sum(numbers) 
print(total)

숫자를 입력하세요: 65,45,2,3,45,8
168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [18]:
# [Q7] Code-1
GuGu_input = input("구구단을 출력할 숫자를 입력하세요(2~9) : ")

dan = int(GuGu_input)

for i in range(1, 10):
    print(i*dan, end= ' ')

구구단을 출력할 숫자를 입력하세요(2~9) : 5
5 10 15 20 25 30 35 40 45

In [19]:
# [Q7] Code-2
A = input("구구단을 출력할 숫자를 입력하세요(2~9) : ")
number = int(A)
i=1

while(i<10):
  print(i*number,end=' ')
  i = i + 1

구구단을 출력할 숫자를 입력하세요(2~9) : 5
5 10 15 20 25 30 35 40 45

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [25]:
# [Q8] Code-1
f = open('abc.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.reverse()          # 읽은 라인을 역순으로 정렬

f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()

In [26]:
# [Q8] Code-2
f = open("abc.txt",'r')
line=f.read()
print(line)      # 파일 안 내용이 역순으로 입력되어 있는 것을 확인 가능
f.close()

EEE
DDD
CCC
BBB
AAA

In [27]:
f = open("abc.txt", 'r')
lines = f.readlines()
f.close()

for line in reversed(open("abc.txt").readlines()) :
  print(line.rstrip())

EEE
DDD
CCC
BBB
AAA

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [30]:
# [Q9] Code-1
f = open("sample.txt",'r')
grade = f.readlines()
grade = list(map(int, grade))

Sum = sum(grade)
average = Sum/len(grade)
print("총합: %d"%Sum)

f = open("result.txt", "w")
f.write(str(average))       
f.close()

f = open("result.txt","r")
average = f.read()
print("평균:",average)
f.close()

총합: 790
평균: 79.0

In [31]:
# [Q9] Code-2
f = open("sample.txt")
grade = f.readlines( )         
Sum = 0

for num in grade:
    score = int(num)         
    Sum += score
average = Sum / len(grade)
print(Sum)

f = open("result.txt", "w")
f.write(str(average))        
f.close()

f = open("result.txt","r")
grade_average = f.read()
print(grade_average)
f.close()

790
79.0

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [32]:
# [Q10] Code-1
class Calculator:
    def __init__ (self, numberList): 
        self.numberList = numberList
        
    def sum(self): 
        result = 0
        for num in self.numberList: 
            result += num
        return result

    def avg(self):
        total = self.sum()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5]) 
print (cal1.sum())
print (cal1.avg())

cal2 = Calculator([6,7,8,9,10]) 
print (cal2.sum())
print (cal2.avg())

15
3.0
40
8.0

In [33]:
# [Q10] Code-2
class Calculator:
    def __init__ (self, value): 
        self.value = value
        
    def sum(self): 
        result = 0
        for num in self.value: 
            result += num
        return result

class UpgradeCalculator(Calculator):
  def avg(self):
    total = self.sum()
    return total / len(self.value)

cal1 = UpgradeCalculator([1,2,3,4,5]) 
print (cal1.sum())
print (cal1.avg())

cal2 = UpgradeCalculator([6,7,8,9,10]) 
print (cal2.sum())
print (cal2.avg())

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [ ]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [ ]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [ ]:
# [Q11] Code-1
import os
os.chdir("/content/doit")  ## 디렉토리변경

In [ ]:
# [Q11] Code-2
from doit import mymod ## doit 에서 mymod 가지고와서 사용함

In [ ]:
import sys
sys.path.append("/content/doit")
import mymod  ##새로운경로를 추가하고 mymod 사용함

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [35]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0  #초기값 =0
 
try:                   
    [1, 2, 3][3]  #여기서 indexerror가 발생하고 except IndexError 로이동하게 되면서 result값에 3이 더해서 3이라는 값이 된다
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4  # finally 는 구문이 에러가 나도 결과적으로 실행이되고 4라는값이 남아있어서 4가 된다 
 
print(result)  # 그리고 결과는 3+4 가되사 7이 출력된다

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [44]:
# [Q13] Code-1
def dash_insert(s):
  result = ''
  for i in range(len(s)):
    result += s[i]
    if i != 0 and i < len(s) -1 :
      if int(s[i]) % 2 == 0 and int(s[i+1]) % 2 == 0:
        result += '*'
      elif int(s[i]) % 2 == 1 and int(s[i+1]) % 2 == 1:
        result += '-'
  return result

dash_insert('4546793')

'454*67-9-3'

In [45]:
# [Q13] Code-2
data = "4546793"
numbers = list(map(int, data))   
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:                  
        is_odd = num % 2 == 1             
        is_next_odd = numbers[i+1] % 2 == 1  
        if is_odd and is_next_odd:          
            result.append("-")
        elif not is_odd and not is_next_odd: 
            result.append("*")

print("".join(result))

454*67-9-3

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [42]:
# [Q14] Code-1
s = input("문자열을 입력하세요: ")

result = s[0]  
count  = 0   

for st in s:
    if st == result[-1]:  
        count += 1
    else:
        result += str(count) + st
        count = 1
result += str(count)

print(result)

문자열을 입력하세요: aaabbcccccca
a3b2c6a1

In [43]:
# [Q14] Code-2
sum = input("문자열을 입력하세요.:")
def loop_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c!=_c:                        # 처음 들어온 문자일경우
            _c = c
            if cnt: result += str(cnt)   
            result += c                   
            cnt = 1                      # 카운트를 1로 초기화
        else: cnt +=1                    # 한번 들어왔던 문자일 경우 카운트
    if cnt: result += str(cnt)           
    return result

loop_string(sum)

문자열을 입력하세요.:aaabbcccccca

'a3b2c6a1'

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [40]:
# [Q15] Code-1
def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))    # False 리턴

True
False
False
True
False

In [41]:
# [Q15] Code-2
def check_number(num):
    for i in range(10):
        if num.count(str(i)) != 1:
            print("False")
            return

    print("True")

check_number('0123456789')
check_number('01234')
check_number('01234567890')
check_number('6789012345')
check_number('012322456789')

True
False
False
True
False

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [36]:
# [Q16] Code-1
Mos = {'.-': 'A', '-...': 'B', '-.-.': 'C', '-..': 'D', '.': 'E', 
'..-.': 'F', '--.': 'G', '....': 'H', '..': 'I', '.---': 'J', 
'-.-': 'K', '.-..': 'L', '--': 'M', '-.': 'N', '---': 'O', '.--.': 'P',
 '--.-': 'Q','.-.':'R','...':'S','-':'T','..-':'U','...-':'V','.--':'W',
 '-..-':'X','-.--':'Y','--..':'Z'}

mos = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'
word = mos.split('  ')

decode = ''

for text in word :
    t = text.split()
    for i in t:
        decode += Mos[i]
    decode += ' '
print(decode)

HE SLEEPS EARLY

In [39]:
# [Q16] Code-2
Mos = {'':' ','.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F','--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L','--':
       'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R','...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X','-.--':'Y','--..':'Z'}
morse=".... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--"
word=morse.split(" ")
for i in word:
    print(Mos[i],end="")

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb